<!DOCTYPE html>
<html>
<head>
	<title>Guía de Quito - EPN</title>
</head>
<body>
<h2>Politícas de Privacidad</h2>
<h3>Sobre su información personal</h3>
<p>La aplicación GUÍA DE QUITO solo solicita la siguiente información de su perfil de Facebook:</p>
<ul>
	<li>Perfil público</li>
	<li>Dirección de correo electrónico</li>
	<li>Fecha de nacimiento</li>
	<li>"Me gusta" a páginas de Facebook</li>
</ul>
<p>Dicha información es almacenada en nuestros servidores para un futuro análisis con el objetivo de mejorar su experiencia en la visita de lugares de interés.</p>
<h3>Sobre el uso de su información</h3>
<p>El uso de la información de su perfil de Facebook es exclusivamente para adaptar información de lugares turísticos a su interés.</p>
<h3>Sobre la aplicación</h3>
<p>Guía de Quito es una aplicación prototipo del Proyecto Integrador "IDENTIFICACIÓN DE INTERESES DEL USUARIO DESDE LA WEB SOCIAL, APLICADO A UN CASO DE ESTUDIO" para la obtención del título de Ingeniero en Sistemas Informáticos y de Computación en la <a href="http://epn.edu.ec/">Escuela Politécnica Nacional</a>. Desarrollada por Xavier Ñauñay y Cristian Toaquiza</p>
</body>
</html>